@import "../index.scss";

.home {
  width: 100%;
  height: 100vh;
  background-image: url("/living.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  position: relative;
  z-index: 1;
  animation: fadeIn 3s 0.1s;
  padding-bottom: 20px;

  div.box {
    width: 400px;
    height: fit-content;
    background-color: black;
    color: var(--white);
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 20%;
    animation: slideInRight 2s 0.1s;

    h2 {
      font-family: "Red Hat Display", sans-serif;
      padding-bottom: 40px;
    }
  }

  div.box1 {
    width: 700px;
    height: fit-content;
    position: absolute;
    left: 20px;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 20px;
    animation: slideInLeft 2s 0.4s;

    h1 {
      font-size: 50px;
      color: aliceblue;
    }
    p {
      color: white;
    }
  }
}

.content {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div.text-zone {
    width: 50%;

    h2 {
        margin-bottom: 20px;
    }

    p {
        opacity: 0.5;
    }
  }

  div.image-div {
    width: 240px;
    height: 240px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
