/* portfolio.module.scss */
@import "../index.scss";

.portfolio {
  padding: 70px 0;
  width: 100%;
  height: fit-content;

  div.home {
    animation: fadeInDown 3s 0s;
    width: 100%;
    height: 100vh;
    background-image: url("/sunset.webp");
    background-size: cover;
    margin-bottom: 40px;
    padding: 20px;
    position: relative;
    border-bottom-right-radius: 50%;
    div.top {
      animation: fadeInLeft 3s 0.3s;
      width: 7vw;
      height: 7vw;
      position: absolute;
      top: 20px;
      left: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      h2 {
        font-weight: 600;
        font-size: 3vw;
      }
    }

    div.middle {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h3 {
        font-size: 4vw;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  div.showcase {
    padding: 20px;

    .boxes {
      flex: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: #333;
        line-height: 1.5;
        margin-bottom: 30px;
      }

      .view1 {
        width: 100%;
        height: fit-content;
        padding: 20px;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 100%;
  height: fit-content;

  div.card {
    padding-bottom: 20px;
    margin-bottom: 50px;
    animation: fadeInUp 3s 0s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    img.img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
      border-radius: 10px;
      &:hover {
        animation: pulse 3s 0s;
      }
    }

    img.img:nth-of-type(1),
    img.img:nth-of-type(2) {
      object-fit: cover;
    }
  }
}

.portfolio p {
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}
/* Footer Styles */

@media only screen and (max-width: 1210px) {
  .portfolio {
    div.home {
      div.top {
        width: 240px;
        height: 240px;
        top: 0%;
        left: 50%;
        transform: translate(-50%,50%);
        h2 {
          font-size: 30px;
          width: 100%;
          color: var(--white);
        }
      }
    }
  }
}

@media only screen and (max-width:1074px){
   .portfolio{
      .home {
        .h3 {
          font-size: 30px;
        }
      }
   }
}
